
<div id="home-block">
	<div class="container-fluid">
		<div class="row transparent" > x</div>
		<div class="row transparent" > x</div>
		<div class="row transparent-s" > x</div>
		<div class="row">
			<div id="home-block-title" class="col-md-5 col-md-offset-1" >Every<i> Miracle</i></div>
		</div>
		<div class="row">
			<div id="home-block-subtitle" class="col-md-5 col-md-offset-3">needs a little <i>time... </i></div>
		</div>

		<div class="row transparent-s" > x</div>
		<div class="row" > 
			<div id="home-block-subtitle2" class="col-md-7 col-md-offset-4">...Are you ready for <i>yours? </i></div>
		</div>
		<div class="row transparent" > x</div>
		<div class="row transparent" > x</div>
		<div class="row transparent" > x</div>
		<div class="row transparent" > x</div>
		<div class="row transparent" > x</div>
		<div class="row transparent" > x</div>
		<div class="row transparent" > x</div>
		<div class="row transparent" > x</div>
		<a name="about">
			<div class="row transparent-s" > </div>
		</a>
		<div class="row transparent" > x</div>
	</div>
</div>




<div class="gold">
	<div class="container-fluid">
		<div class="row transparent" > x</div>
		<div class="row transparent-s" > x</div>
		<div class="row center light-enhanced-text">
		<%= link_to image_tag("logo_gold.png", :border => 0, :alt => "home image", :width => 280, :height => 100, :title => "The Wedding Enchanter"), root_path %>  
			aims to provide you with all the help you need for your Wedding Celebration preparation!
		</div>
		<div class="row transparent-s" > x</div>
		<div class="row transparent" > x</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row transparent" > x</div>
	<div class="row transparent" > x</div>
	<div class="row transparent" > x</div>
	<div class="row center">
	  	<h1>Allow us be your Fairy Godmother </h1>
	  	<h2>for your <i>Happily Ever After Wedding Day!</i><h2>
	</div>

	
	<div class="row transparent" > x</div>
	<div class="row ">
		<div class="center">
			<ul class="list-inline enhanced-text">
				<li><%= link_to image_tag("search_icon.png", :border => 0, :alt => "search icon"), '#' %> Easy Vendor search</li>
				<li><%= link_to image_tag("event_icon.png", :border => 0, :alt => "event icon", :width =>48, :height =>48), '#' %>Event Management System</li>
				<li><%= link_to image_tag("budget_icon.png", :border => 0, :alt => "budget icon", :width =>48, :height =>48), '#' %>Budget Management System</li>
			</ul>
		</div>
	</div>	

	<div class="row transparent" > x</div>
	<div class="row transparent" > x</div>
	<div class="row transparent" > x</div>
	<div class="row transparent" > x</div>	
</div>


<div class="grey">
	<div class="container-fluid">
		<div class="row transparent" > x</div>
		<div class="row transparent-s" > x</div>
		<div class="row ">
			<div class="col-md-10 col-md-offset-2 white-enhanced-text">
			Join us now and let your story begins!   <%= link_to "Sign up now!",  signup_path, class: "btn btn-large btn-signup"  %>
			</div>
		</div>
		<div class="row transparent-s" > x</div>
		<div class="row transparent" > x</div>
	</div>
		
</div>


<div class="row transparent" > x</div>








<div >
	<div class="container-fluid">
		<div class="row transparent" > x</div>
		<div class="row transparent-s" > x</div>
		<div class="row ">
			<div class="col-md-6 col-md-offset-2 white-enhanced-text">
			Find us on your IPHONE:
			</div>
		</div>
		<div class="row transparent-s" > x</div>
		<div class="row transparent" > x</div>
	</div>
</div>





<div >
	<div class="container">
			<h2>DOWNLOAD OUR APP!</h2>
			<div class="row impact">
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li>FIND US ON YOUT APPSTORE</li>
						<li>EASY VENDOR SEARCH ON YOUR IPHONE</li>
						<li>SIMPLE EVENT MANAGEMENT</li>
						<li>DOWNLOAD NOW!</li>
					</ul>
				</div>
			 	<div class="col-md-6">IOS PHOTO</div>
			</div>
		</div>
	</div>
	


<div class="container-fluid grey white-font">
	<div class="row transparent" > x</div>
	<div class="row transparent" > x</div>
	<div class="row center">
	  	<h1>Interested to be an Enchanter yourself?</h1>
		<h2 class="white-font">It's as easy as a flick of a wand!</h2>
		<ul class="list-inline light-enhanced-text">
			<li>Connect to your customers</li>
			<li>Showcase your work in Galleries</li>
			<li>Real feedback from customers</li>
		</ul>
		<div class="row transparent-s" > x</div>
		<div class="white-enhanced-text">
	  	<%= link_to "Sign up as a Vendor",  signup_path, class: "btn btn-large btn-signup enhanced-text"  %>
	  	</div>
	</div>
	<div class="row transparent" > x</div>
	<div class="row transparent" > x</div>
</div>

