



<% unless t==0 %>
<div class=" guest-table-no-div panel panel-info">
	
		<div class="panel-heading" role="tab" id="table-<%= t %>">
			<a data-toggle="collapse"  href="#table-content-<%= t %>" aria-expanded="true" aria-controls="table-content-<%= t %>" class="table-title">
				<h3 class="panel-title">Table <%= t %>
					<span class="small">
						(<%=guests.sum(:adults)%> adults, <%=guests.sum(:children)%> children)
					</span> 
				</h3>
			</a>
		</div>
		<div id="table-content-<%= t %>" class="panel-collapse collapse " role="tabpanel" aria-labelledby="table-content-<%= t %>">
			<table class="table table-condensed ">
				<tr>
					<th>Name</th>
					<th>Adults</th>
					<th>Children</th>
					<th>Actions</th>
				</tr>
					<% guests.each do |g| %>
					<tr class="<%= 'warning' if g.invitation_sent==false %>">
						<td style="padding-left:35px;">
							<%= g.name %>
						</td>
						<td><%= g.adults %></td>
						<td><%= g.children %></td>
						<td>
							<%= link_to "remove", event_guest_set_table_path(@event, g, :table_no=>0), method: :put %> 
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	
</div>

<%end%>
