<%= render 'events/heading' %>
<div class="container">
	<div class="row">
		<%= render 'events/event_menu' %>
	</div>

  <div class="row">
    <div class="col-md-9">
    <h3>All <%= params[:group] ? params[:group].titleize : nil%><%= params[:side] ? params[:side].titleize + "'s" : nil%> Guests (<%= @guests.count %>)</h3>
    <%= render partial:'guests/guests_table',  locals:{guests: @guests} %>
  </div>

    <div class="col-md-3 ">
      <div class="panel">
        <ul class="list-unstyled">
          
          <li><h5><%= link_to  'Guest List', event_guests_path(@event) %></h5> </li>
          <li> <h5><%= link_to 'Manage Guest Table', event_guests_manage_tables_path(:event_id=>@event.id) %></h5> </li>
        </ul>
      </div>
      <div class="guest-nav">
        <ul class="list-unstyled nav" id="guest-menu" role="tablist" aria-multiselectable="true">
          <li><%= link_to "All", event_guests_path %></li>
          <li>
            <a data-toggle="collapse" data-parent="#guest-menu" href="#guest-side-nav" aria-expanded="true" aria-controls="my-events-nav">
              SIDE <b class="caret"></b>
            </a>
            <ul id="guest-side-nav" class="collapse list-unstyled" role="tabpanel" aria-labelledby="guest-side">
              <li><%= link_to @event.bride_name, :side=> @event.bride_name %></li>
              <li><%= link_to @event.groom_name, :side=> @event.bride_name %></li>
            </ul>
          </li>

          <li>
            <a data-toggle="collapse" data-parent="#guest-menu" href="#guest-group-nav" aria-expanded="true" aria-controls="guest-group-nav">
              GROUP <b class="caret"></b>
            </a>
            <ul id="guest-group-nav" class="collapse list-unstyled" role="tabpanel" aria-labelledby="guest-group">
              <%  @groups.each do |x| %>
                <li><%= link_to x, :group=>x %></li>
              <% end %>
                    
            </ul>
          </li>


          <li>
            <a data-toggle="collapse" data-parent="#guest-menu" href="#guest-table-nav" aria-expanded="true" aria-controls="guest-table-nav">
              TABLE NO <b class="caret"></b>
            </a>
            <ul id="guest-table-nav" class="collapse list-unstyled" role="tabpanel" aria-labelledby="guest-group">
              <%  @tables.each do |x| %>
                <li><%= link_to x, :table=>x %></li>
              <% end %>
              
            </ul>
          </li>
        </ul>
      </div>
      
    <div class="panel">
      <a data-toggle="collapse"  href="#guest-form" aria-expanded="true" aria-controls="guest-form">
              <h4 class="center">New Guest <b class="caret"></b></h4>
      </a>
      <div id="guest-form" class="collapse ">
          <%= render 'guests/guest_form' %>
      </div>
    </div>
  </div>
    
    


</div>
