<%= render 'events/heading' %>
<div class="container">
  <div class="row">
    <%= render 'events/event_menu' %>
  </div>


  <ul class="nav nav-tabs cus-tabs" role="tablist">
     <li role="presentation" class="<%= 'active' if current_page?(event_guests_path(@event))%>"><%= link_to 'Guest List', event_guests_path(@event) %></li>
    <li role="presentation" class="<%= 'active' if current_page?(event_guests_manage_tables_path(@event))%>"><%= link_to 'Manage Guest Table', event_guests_manage_tables_path(@event) %></li>
    <li role="presentation" class="<%= 'active' if current_page?(event_guests_invitation_path(@event))%>"><%= link_to 'Manage Invitation', event_guests_invitation_path(@event) %></li>
  </ul>

  <div class="row">
    <div class="col-md-9">
      <br>
      <span class="no-text">Update the number of adults/children and the table number of each guest then click on 'Save'. Guests with table assigned will automatically be moved to their table respectively. Click 'remove' to unassign guest from the table. </span> <br> <br>
      <span class="no-text">Click on 'reset all guest table' to unassign all guest from their tables.</span>
      <div class=" guest-no-table-no-div panel panel-danger">
        <div class="panel-heading" role="tab" id="table-0">
          <a data-toggle="collapse"  href="#table-content-0" aria-expanded="true" aria-controls="table-content-0" class="table-title">
            <h3 class="panel-title"> <%= params[:group] ? params[:group].titleize : nil%><%= params[:side] ? params[:side].titleize + "'s" : nil%>  Guests: No Table
              <span >
                (<%=@unsets.sum(:adults)%> adults, <%=@unsets.sum(:children)%> children)
              </span> 
              <span class="pull-right"><i class="pull-right"><%= link_to "Reset All Guest Table", clear_table_event_guests_path(@event, :table_no=>0), :method => :put %></i>
                
              </span>
            </h3>
          </a>
        </div>
        <div id="table-content-0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="table-content-0">
          <%= form_for :guest, :url => update_all_path(:event_id=>@event.id), :html => { :method => :put } do %>
  
          <table class="table table-condensed ">
            <tr>
              <th><%= link_to "Name", :sort=>'name' %></th>
              <th><%= link_to "Adults", :sort=>'adults' %></th>
              <th><%= link_to "Children", :sort=>'children' %></th>
              <th><%= link_to "Side", :sort=>'side' %></th>
              <th><%= link_to "Group", :sort=>'"group"' %></th>
              <th>Note</th>
              <th>Set Table</th>
            </tr>

             <% @unsets.each do |g| %>
              <%= fields_for "guest[]", g do |guest_fields| %>
                <tr class="<%= '' if g.invitation_sent==false %>">
                  <td style="padding-left:10px;">
                    <%= g.name %>
                  </td>
                  <td><%= guest_fields.number_field :adults, value: g.adults, in: 0...100 %></td>
                  <td><%= guest_fields.number_field :children, value: g.children, in: 0...100 %></td>
                  <td><%= g.side %></td>
                  <td><%= g.group %></td>
                  <td><%= g.note %></td> 
                  <td><%= guest_fields.number_field :table_no, in: 0...100 %></td>

                </tr>
              <% end %>
            <% end %>
            <tr>
              <div class="actions ">
              <%= submit_tag "Save", class:"btn btn-default save-btn" %>
            </div>
            </tr>
          </table>
              <div class="actions ">
              <%= submit_tag "Save", class:"btn btn-default save-btn" %>
            </div>
          </div>
          
        
      <% end %>
    </div>

    <% @all_guests.order(:table_no).pluck(:table_no).uniq.each do |t| %>
      <%= render partial:'guests/table', locals:{t: t, guests: @all_guests.where(:table_no=>t)}%>
    <% end %>
    </div>
    

    <div class="col-md-3 ">

      <div class="guest-nav">
        <ul class="list-unstyled nav" id="guest-menu" role="tablist" aria-multiselectable="true">
          <li><%= link_to "All", event_guests_path %></li>
          <li>
            <a data-toggle="collapse" data-parent="#guest-menu" href="#guest-side-nav" aria-expanded="true" aria-controls="my-events-nav">
              Side <b class="caret"></b>
            </a>
            <ul id="guest-side-nav" class="collapse list-unstyled" role="tabpanel" aria-labelledby="guest-side">
              <li><%= link_to @event.bride_name, :side=> @event.bride_name %></li>
              <li><%= link_to @event.groom_name, :side=> @event.bride_name %></li>
            </ul>
          </li>

          <li>
            <a data-toggle="collapse" data-parent="#guest-menu" href="#guest-group-nav" aria-expanded="true" aria-controls="guest-group-nav">
              Group <b class="caret"></b>
            </a>
            <ul id="guest-group-nav" class="collapse list-unstyled" role="tabpanel" aria-labelledby="guest-group">
              <%  @groups.each do |x| %>
                <li><%= link_to x, :group=>x %></li>
              <% end %>
                    
            </ul>
          </li>


          <!-- <li>
            <a data-toggle="collapse" data-parent="#guest-menu" href="#guest-table-nav" aria-expanded="true" aria-controls="guest-table-nav">
              Table No. <b class="caret"></b>
            </a>
            <ul id="guest-table-nav" class="collapse list-unstyled" role="tabpanel" aria-labelledby="guest-group">
              <%  @tables.each do |x| %>
                <li><%= link_to x, :table=>x %></li>
              <% end %>
              
            </ul>
          </li> -->
        </ul>
      </div>
      
      <div class="panel tools-panel center">
        <ul class="list-unstyled">
          <li><%= link_to "download as excel", event_guests_path(@event, format: "xls") %></li>
          <hr>
          <li> <i><%= link_to "reset all guest tables", clear_table_event_guests_path(@event, :table_no=>0), :method => :put, data: { confirm: "Are you sure you want to reset all tables?", :toggle=>"tooltip", :placement=>"bottom"}, :title=>"unassign table for all guests"%></i> </li>
        </ul>
       
      </div>
      <div class="panel ">
        <a data-toggle="collapse"  href="#guest-form" aria-expanded="true" aria-controls="guest-form">
                <h4 class="center">New Guest <b class="caret"></b></h4>
        </a>
        <div id="guest-form" class="collapse ">
            <%= render 'guests/guest_form' %>
        </div>
      </div>



  </div>
</div> 
