<div class="col-md-3">
  <div class="all-block">
    <%= image_tag recommendation.cover_url %>
     
      <br> Name: <%= link_to recommendation.name, recommendation %>
      <br>Style: <%= raw recommendation.style_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

      <br>Categories: <%= raw recommendation.category_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

    
      <% if (current_user==recommendation.user) %>
      <%= link_to "edit", edit_shop_path(recommendation.id) %> | 
      <%= link_to "delete", recommendation, method: :delete,
                                       data: { confirm: "You sure?" },
                                       title: recommendation.name %>
      <% end %>
  </div>
</div>
