
  <div class="vendors .col-xs-4">
  <span class="user">
    <%= link_to shop.user.firstname, shop.user %>
  </span>
  <br>Name: <%= link_to shop.name, shop %>
<p>Style: <%= raw shop.style_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<p>Categories: <%= raw shop.category_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

  <br>Description: <%= shop.description %>
  <br>Phone: <%= shop.phone %>Address: <%= shop.address %>
  <br>Website: <%= shop.website %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(shop.created_at) %> ago.
  </span>
  <% if (current_user==shop.user) %>
    <%= link_to "edit", edit_shop_path(shop.id) %> | 
    <%= link_to "delete", shop, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: shop.name %>
  <% end %>
  </span>
</div>