
<%= link_to shop do %> 
  <div class="shop-block col-md-3">
    <div class="center">
      <%= image_tag ("shop-default.png") %>
    </div>
    <div class="shop-block-content">
      <span class="shop-block-title"><%= link_to shop.name, shop %></span>
      <br> <%= render partial: "shops/main_rating", locals:{:ratings => (shop.cached_weighted_average ? shop.cached_weighted_average : 0)} %>
      <br>Style: <%= raw shop.style_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      <br>Categories: <%= raw shop.category_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      <% if (current_user==shop.user) %>
        <%= link_to "edit", edit_shop_path(shop.id) %> | 
        <%= link_to "delete", shop, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: shop.name %>
      <% end %>
    </div>
  </div>
<% end %>