<% provide(:title, 'Vendors') %>

<%= image_tag("vendors_head.png", alt: "home heading", class: "heading-img full-width") %>


<div class="container">
  <div class="row filter-btn-div center">
    <a data-toggle="collapse" href="#filter-block" aria-expanded="true" aria-controls="filter-block">
    <%= image_tag("filter_icon.png", alt: "home heading") %> SHOP FILTERS <span id="filter-params"><%= @c %> <%= @s %> <%= @o %> <%= @n %> </span>
    </a>
  </div>
<%= form_tag("/category", method: :get, remote: true ) do %>
  <div id="filter-block" class="row filter-div collapse">
    <div class="row">
      <div class="col-md-3">
        category
        
        <ul class="list-unstyled">
          <li class="toggle">
            <%= radio_button_tag(:category, "") %>
            <%= label_tag(:category_all, "all", :class=>"label") %>
          </li>
          <% @categories.each do |tag| %>
            <li class="toggle">
              <%= radio_button_tag(:category, tag.name) %>
              <%= label_tag("category_#{tag.name}", tag.name, :class=>"label") %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3">
        styles
        <ul class="list-unstyled">
          <li class="checkbox">
            <%= check_box_tag(:styles, "") %>
              <%= label_tag("styles_all", "all", class: "check_box inline") %>
          </li>

          <% @styles.each do |tag| %>
            <li class="checkbox">
               <%= check_box_tag("styles[]", tag.name) %>
              <%= label_tag("styles[]", tag.name, class: "check_box inline") %>

            </li>
          <% end %>

        </ul>
      </div>
      <div class="col-md-3">
        order
        <ul class="list-unstyled">
          <li class="toggle">
             <%= radio_button_tag(:order, "all") %>
            <%= label_tag(:order_all, "all", :class=>"label") %>
          </li>
          <li class="toggle">
             <%= radio_button_tag(:order, "cached_weighted_average") %>
            <%= label_tag(:order_cached_weighted_average, "rating", :class=>"label") %>
          </li>
         <!--  <li class="toggle">

             <%= radio_button_tag(:order, "price") %>
            <%= label_tag(:order_price, "price", :class=>"label") %>
          </li> -->
        </ul>
      </div>
      <div class="col-md-3">
        NAME CONTAINS
        <%= text_field_tag :name_query, "", class: "form-field" %>
        
      </div>
    </div>
  
    <div class="row pull-right">
      <%= submit_tag "Filter", data: { "loading-text" => "wait ..." }, id: "filter-submit-btn" %>
      
    </div>
  </div>


<% end %>

  <br>
      
        
          <!-- <div class="row">
            <%= will_paginate @shops, renderer: BootstrapPagination::Rails  %>
          </div>
 -->
          
        
          <div class="row">
            <div id="shop-feed">
            <%= render @shops %>
             </div> 
          </div>
        
          <!-- <div class="row">
            <%= will_paginate @shops, renderer: BootstrapPagination::Rails  %>
          </div> -->
       
      </div>
    </div>
  </div>
