<% provide(:title, 'Vendors') %>

<%= image_tag("shops_heading.png", alt: "home heading", class: "heading-img full-width") %>


<div class="container">
<div class="row">
  <a data-toggle="collapse" href="#filter-block" aria-expanded="true" aria-controls="filter-block">
  <%= image_tag("filter_icon.png", alt: "home heading") %> FILTER
  </a>
</div>

<div class="row">
  <div id="filter-block" class="collapse full-width">
  <div class="col-md-3">
    category
    
    <ul class="list-unstyled">
      <li class="toggle">
        <%= radio_button_tag 'tag',"all", @cat == "all" %>
        <%= label_tag "tag_all", "all", :class=>"label" %>
      </li>
      <% @categories.each do |tag| %>
        <li class="toggle">
          <%= radio_button_tag 'tag',tag, @cat == tag %>
          <%= label_tag "category_#{tag.name}", tag.name, :class=>"label" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    styles
    <ul class="list-unstyled">


      <li>all</li>
      <li>
        <% @styles.each do |tag| %>
        <div class="checkbox">
          <%= check_box_tag 'tags[]', tag.name,
                (params[:tags] || {}).include?(tag.name) %>
        <%= label_tag "style_#{tag.name}", tag.name, class: "check_box inline" %>
        </div>
        
        <% end %>
      </li>



    </ul>
  </div>
  <div class="col-md-3">
    order
    <ul class="list-unstyled">
      <li class="toggle">
        <%= radio_button_tag 'order',"all", @order == "all" %>
        <%= label_tag "none", "none", :class=>"label" %>
      </li>
      <li class="toggle">
        <%= radio_button_tag 'order',"rating", @order == "rating" %>
        <%= label_tag "rating", "rating", :class=>"label" %>
      </li>
      <li class="toggle">
        <%= radio_button_tag 'order',"price", @order == "price" %>
        <%= label_tag "price", "price", :class=>"label" %>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    NAME CONTAINS
    <%= text_field_tag 'name' %>
  </div>
</div>
</div>



  
      
        <div id="shop-feed">
          <%= will_paginate @shops, renderer: BootstrapPagination::Rails  %>
        
          <h3>All Vendors</h3> 
          
          <div class="pin-row">
            <%= render @shops %>
          </div>
        
         <%= will_paginate @shops, renderer: BootstrapPagination::Rails  %>
        </div> 
      </div>
    </div>
  </div>
