<% provide(:title, 'Vendors') %>
<%= image_tag("shops_heading.png", alt: "home heading", class: "heading-img full-width") %>




<a data-toggle="collapse" href="#filter-block" aria-expanded="true" aria-controls="filter-block">
<%= image_tag("filter_icon.png", alt: "home heading") %>
</a>


<div id="filter-block" class="collapse">
  <div class="col-md-3">
    category
    
    <ul class="list-unstyled">
      <% @categories.each do |tag| %>
        <li class="toggle">
          <label class="label">
            <input type="radio" name="toggle"><%= tag.name%>
          </label>  
        </li>
      <%end%>


        



        <% @categories.each do |tag| %>
        <li >
          <%= link_to (tag.name), category_path(:category => tag.name, :styles => ""), class: "category-btn",method: :get, remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    styles
    <ul class="list-unstyled">
      <li ><%= link_to 'ALL', category_path(:category => "", :styles => ""), class: "category-btn", method: :get, remote: true %></li>
        <% @styles.each do |tag| %>
        <li >
          <%= tag.name %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    order
    <ul class="list-unstyled">
      <li>none</li>
      <li>ratings</li>
      <li>price: low to high</li>
      <li>price: high to low</li>
    </ul>
  </div>
  <div class="col-md-3">
    ...
  </div>
</div>

<div class="container-fluid collapsed" id="demo">
    <div class="span8">
  <div class="filter-block" id="category-block">
    <%= render 'shops/category_filter' %>
  </div>

  

      <div class="transparent-s">x</div> 
    
      <div id ="tag-div" class="center">
       <%= render 'shops/style_tags' %>
      </div>
      
      <div class="transparent-s">x</div> 
      <div class="transparent-s">x</div>

    
      <div class="container">
        <div id="shop-feed">
          <%= will_paginate @shops, renderer: BootstrapPagination::Rails  %>
        
          <h3>All Vendors</h3> 
          
          <div class="pin-row">
            <%= render @shops %>
          </div>
        
         <%= will_paginate @shops, renderer: BootstrapPagination::Rails  %>
        </div> 
      </div>
    </div>
  </div>
