<% provide(:title, 'Vendors') %>
<div id="vendor-block">
  <div class="container-fluid">
    <div class="row transparent" > x</div>
    <div class="row transparent" > x</div>
    <div class="row transparent" > x</div>
    <div class="row transparent" > x</div>

    <div class="row transparent-s" > x</div>
    <div class="row">
      <div id="home-block-title" class="col-md-6 col-md-offset-6" ><i> Wedding Vendors</i></div>
    </div>
    <div class="row">
      <div id="home-block-subtitle" class="col-md-5 col-md-offset-7">. . . . your Wedding <i>Enchanter </i></div>
    </div>

    <div class="row transparent-s" > x</div>
    <div class="row transparent" > x</div>
    <div class="row transparent" > x</div>
    <div class="row transparent" > x</div>
    <div class="row transparent" > x</div>
    <div class="row transparent" > x</div>
  </div>
</div>


<div class="container-fluid">
    <div class="span8">
  <div class="filter-block" id="category-block">
    <%= render 'shops/category_filter' %>
  </div>

  

      <div class="transparent-s">x</div> 
    
      <div id ="tag-div" class="center">
       <%= render 'shops/style_tags' %>
      </div>
      
      <div class="transparent-s">x</div> 
      <div class="transparent-s">x</div>

    
      <div class="container">
        <%= will_paginate @shops, renderer: BootstrapPagination::Rails  %>
        <div id="shop-feed">
          <h3><%= @c.capitalize %></h3> 
          
          <div class="pin-row">
            <%= render @shops %>
          </div>
        </div> 
        <%= will_paginate @shops, renderer: BootstrapPagination::Rails  %>

      </div>
    </div>
  </div>
