<div class="container">
<% provide(:title, @shop.name) %>
<div class="transparent">x</div>
  <div class="row all-block">
    <div class ="col-md-6 col-md-offset-1 ">
      <% if !@cover.nil? %> 
      <%= link_to image_tag(@cover.image.thumb('600x400#').url, alt: @cover.title, class: 'img-thumbnail'),
                  @cover.image.url, target: '_blank' %>

      <% else %>
              <%= image_tag("default-thumb.jpg", alt: "cover photo", class: 'img-thumbnail') %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3 class = "shop-title"><%= @shop.name %>
        <% if @favorite.nil? %>
            <%= link_to image_tag("fav_icon_outline.png", :border => 0, :width => 30, :height => 30, :alt => "fav icon", :id => "fav-btn"), favorite_shops_path(shop_id: @shop), method: :post, remote: true %>
        <% else %>
          <%= link_to image_tag('fav_icon.png', :border => 0, :width => 30, :height => 30, :alt => 'unfav icon', :id => 'unfav-btn'), favorite_shop_path(:shop_id => @shop.id), method: :delete, remote: true %>
        <% end %> 
        <span class="small-link"><%= link_to "add vendor", new_vendor_path(:shop_id => @shop.id) %></span>
        </h3>
        <% if @shop.user == current_user %>
          <span class="pull-right">
            <%= link_to "Edit Shop Info", edit_shop_path(@shop) %>
          </span>
        <% end %>
      
      <span id="shop-main-rating">
        <%= render 'shops/main_rating', locals:{:h=>18, :w=>18} %>
      </span>
      <%= link_to '#reviews' do %>
        <%= @comments.count %> Reviews
      <% end %>
    
      <p class="lead"><%= @shop.description %><p>

      <%= button_to "Packages", '#', id: "request-btn", class: "all-btn" %>
      
      <div id="request-div">
        <%= @shop.details %>
      </div>

      <div class="shop-contact-block">
        <h3>Contact</h3>
        <%= image_tag("phone_icon.png", :border => 0, :alt => "phone icon") %><%= @shop.phone %>
        <br><%= image_tag("location_icon.png", :border => 0, :alt => "location icon") %><%= @shop.address %>
        <br><%= image_tag("email_icon.png", :border => 0, :alt => "email icon") %><%= @shop.email %>
        <br><%= image_tag("location_icon.png", :border => 0, :alt => "location icon") %><%= @shop.website %>
        <br>
        <br>Style: <%= raw @shop.style_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

        <br>Categories: <%= raw @shop.category_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        <p>
          
      </div>
    </div>
  </div>





  <div class="row">
    <div class="transparent">x</div>
    <% if @shop.user == current_user %>
      <%= link_to "Edit Photos", shop_photos_path(@shop) %>
    <% end %>
    <h3> <%= @shop.name %>'s Gallery</h3>
    <%= render 'photos/gallery', object: @photos %>
  </div>

  <div class="row">
    <div class="transparent">x</div>
    <h3>You might be interested in...</h3>
    <% if @recommendations.any? %>
      <ul >
        	<%= render partial: 'shops/recommendation', collection: @recommendations %>
    	</ul>
    <% end %>
  </div>

  
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="comment-div">
        <%= render @comments %>
      </div>
      <h3>Rate this shop
        <span id="shop-rating-form">
            <%= render 'shops/rating_form', :locals => {:user => @user, :shop => @shop, :h => 15, :w=> 15} %>
        </span>
        <span class="small-link"><%= link_to "unrate", unrate_shop_path(@shop), method: :put %>    </span>
      </h3>
      <div id="comment-form-div">
        <%= render 'comments/comment_form' %>
      </div>
    </div>
  </div>
</div>