<div class=" form-all container-fluid col-md-4 col-md-offset-4">

<%= form_for([@event, @task]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :parent_id %>

    <%= f.hidden_field :rank, :value =>0 %>


    <%= f.hidden_field :checklist_id, :value =>@checklist.id %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "form-field", value: (@checklist ? @checklist.title : nil) %>

    <%= f.label :due_date %>
    <div class="input-group date" id="datetimepicker5">
      <%= f.text_field :due_date, class: 'form-control form-field', data: { date_format: 'YYYY/MM/DD' }, value: ( (@date ? @date.strftime('%m/%d/%Y %I:%M %p') : nil) || (@checklist ? @event.date - @checklist.time_range.days : nil).strftime('%m/%d/%Y %I:%M %p'))%>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>

    <%= f.label :redo %>
    <%= f.text_field :redo, class: "form-field" %>


    <%= f.label :optional %>
    <%= f.text_field :optional, class: "form-field" %>

    <%= f.label :completed %>
    <%= f.select :completed, [['Yes', true], ['No', false]] %>

    <%= f.label :note %>
    <%= f.text_area :note, class: "form-field" %>

    <%= f.label :reminder %>
    <div class="input-group date" id="datetimepicker2">
      <%= f.text_field :reminder, class: 'form-control form-field' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>

    <%= f.label :importance %>
    <%= f.text_field :importance, class: "form-field" %>

  <%= f.label :tag_list, "Style Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list %>

  <% unless @vendors.nil? %>
   <%= f.collection_select :vendor_id, @vendors, :id, :name, {:prompt => "Please select a vendor" } %>
  <% end %>


  </div></br>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

   <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    // pickDate: false
                });
                $('#datetimepicker5').datetimepicker({
                  // pickTime: false
                });

                $('#datetimepicker1').datetimepicker({
                    // pickDate: false
                });
                $('#datetimepicker2').datetimepicker({
                  // pickTime: false
                });

            $("#datetimepicker2").on("dp.change",function (e) {
               $('#datetimepicker5').data("DateTimePicker").setMinDate(e.date);
            });
            $("#datetimepicker5").on("dp.change",function (e) {
               $('#datetimepicker2').data("DateTimePicker").setMaxDate(e.date);
            }); 


            });

   
    </script>

</div>
