<div class="row">
	<div id="task-block-div-<%= task.id %>">
		<div  class="task-block task-<%= Task.status(:task_id=>task.id) %> col-md-8" >
			<h4><%= link_to task.title.capitalize, event_task_path(task.event, task) %></h4>
			<div class="block-content">
				<i class="date"><%= task.due_date.to_formatted_s(:long_ordinal)  %></i><br>
				
				<%= task.note %><br>
				
			</div>

			<div class="block-action pull-right">
				<% if !task.completed? %>
					<%= link_to event_task_complete_path(@event, task), method: :put, remote:true do %> 
						<%= image_tag("done_icon_grey.png",  :border => 0, :alt => "done icon") %>
					<%end%>

				<% else %>
					<%= link_to event_task_decomplete_path(@event, task, :cascade => true), method: :put, remote: true do %> 
						<%= image_tag("undo_icon_grey.png",  :width=>18, :height=>18, :border => 0, :alt => "undo icon") %>
					<%end%> |
					<%= link_to "DeCompleted::cascade:false", event_task_decomplete_path(@event, task, :cascade => false), method: :put, remote: true %> |
				<% end %>
				<%= link_to  new_event_task_path(@event, :parent_id => task) do %> 
					<%= image_tag("add_task_icon_grey.png",  :width=>18, :height=>18, :border => 0, :alt => "add task icon") %> 
				<%end%>
				<%= link_to edit_event_task_path(@event, task) do%>  	
					<%= image_tag("edit_icon_grey.png",  :width=>18, :height=>18, :border => 0, :alt => "edit icon") %>
				<% end%>
				<%= link_to "Delete", event_task_path(@event, task), method: :delete,
			                                         data: { confirm: "You sure?" },
			                                         title: task.title %>
			    <% unless !task.vendor.nil? %>
			    	<%= link_to "Add Vendor", event_task_add_vendor_path(@event, task), remote:true %>
			    <% end %>
			</div>
		</div>
		
			<div id="vendor-block-div-<%= task.id%>" class="col-md-4" >
				<% unless task.vendor.nil? %>
					<div class="vendor-block-div  ">
						<%= render partial: 'tasks/vendor', locals: {:vendor =>task.vendor, :task=>task} %>
					</div>
				<% end %>
			</div>
		
	</div>
</div>