<div class=" form-all container-fluid col-md-4 col-md-offset-4">
 
<%= form_for([@event, @task]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-field" %>

    <%= f.label :deadline %>
    <div class="input-group date" id="datetimepicker5">
      <%= f.text_field :deadline, class: 'form-control form-field' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>

    <%= f.label :status %>
    <%= f.text_field :status, class: "form-field" %>

    <%= f.label :note %>
    <%= f.text_area :note, class: "form-field" %>

    <%= f.label :reminder %>
    <div class="input-group date" id="datetimepicker2">
      <%= f.text_field :reminder, class: 'form-control form-field' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>



  </div></br>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

   <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    // pickDate: false
                });
                $('#datetimepicker5').datetimepicker({
                  // pickTime: false
                });

                $('#datetimepicker1').datetimepicker({
                    // pickDate: false
                });
                $('#datetimepicker2').datetimepicker({
                  // pickTime: false
                });

            $("#datetimepicker2").on("dp.change",function (e) {
               $('#datetimepicker5').data("DateTimePicker").setMinDate(e.date);
            });
            $("#datetimepicker5").on("dp.change",function (e) {
               $('#datetimepicker2').data("DateTimePicker").setMaxDate(e.date);
            }); 


            });

   
    </script>

</div>
