<% provide(:title, @event.name) %>
<%= render 'events/heading' %>
<div class="container">
<div class="row">
	<%= render 'events/event_menu' %>
</div>



	<div class="row">
		<h3>
			<% if @lates.any? %>
				<%= link_to '#', id:"late-task-btn" do %>
					See <%= @lates.count %> Late Tasks
			<%end%>
				
			<%else %>
				No Late task
			<%end%>

		</h3>
		<div id="late-tasks-div" class="col-md-12">
			<% if @lates.any? %>
			<%= render @lates %> 
			<% else %>
				No late tasks
			<% end %>
		</div>
	</div>
		





<div class="row">
	<div class="col-md-6">
		<div id="calendar-div">
			<%= render 'shared/calendar' %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="transparent">x</div>
		<div id="today-div">
			<%= render 'tasks/today' %>
		</div>
	</div>
	
</div>


<div id="week-div">
<%= render 'tasks/week' %>
</div>

<div class="transparent">x</div>





<div class="col-md-6">
	<h3>
		<%= link_to '#', id:"all-task-btn" do %>
			See <%= @tasks.count %> All Tasks
		<%end%>
	</h3>
	<div id="all-tasks-div">
	  <%= render @tasks %>
	</div>
</div>

<div class="col-md-6">
	<h3>
		<%= link_to '#', id:"completed-task-btn" do %>
			See <%= @done.count %> Completed Tasks
		<%end%>
	</h3>
	<div id="complete-tasks-div">
	  <%= render @done %>
	</div>
</div>

</div>