<div class="container">
	<h3><%= @article.title %> <i><span class="small">Posted by <%= @article.user.firstname %> (<%= @article.created_at.strftime('%d/%m/%Y')%>)</span></i> </h3>
	<%= h (@article.content).gsub(/\n/, '<br>').html_safe  %><br>
	<br>

<%= link_to "< Back To All Articles", information_path, class:  " back-btn pull-left" %>

</div>
	