<% @events.each do |e| %>
  <div class="col-md-4">
    <%= link_to e do %> 
      <div class="all-block">
        <h4><%= e.bride_name.titleize %>'s & <%= e.groom_name.titleize %>'s</h4>
        <h3>"<%= link_to e.name, e %>"</h3> 
        <% if e.date=="" || e.date.nil? %>
          <i>Date Note Set</i><br>
        <% else %> 
          <i><%= e.date.to_formatted_s(:long_ordinal) %></i><br>
          <br>
        <% end %>
          <%= e.tasks.done.count %>/<%= e.tasks.count %> tasks completed
          <br>
          
          <%= e.guest_amt %> Approx.Guests <br>
          <%= e.guests.attendees.count %> Guests Attending <br>
          <%= e.guests.inviteds.count %> Invitation Sent <br>

        
          <% if (current_user==e.user) %>
            <div class="action-btn ">
  <span>
    <%= link_to image_tag("edit_icon_grey.png",  :width=> 13, :height=>13, :border => 0, :alt => "edit task icon"), edit_event_path(e), :data => {:toggle=>"tooltip", :placement=>"top"}, :title=>"edit task", class: "inline-block"%>
  </span>
  <span>
    <%= link_to image_tag("delete_icon_grey.png",  :width=> 13, :height=>13, :border => 0, :alt => "delete task icon"), e, :data => {:toggle=>"tooltip", :placement=>"top",confirm: "You sure?"}, :title=>"delete task", method: :delete,class: "inline-block" %>
  </span>
     </div>      
          <% end %>
        
      </div>
    <% end %>
  </div>
<% end %>