<div class="container">
<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= link_to 'enterprise', users_path(:filter => "enterprise"), method: :get, remote: true %>
<%= link_to 'client', users_path(:filter => "client"), method: :get, remote: true %>
<%= will_paginate @users, renderer: BootstrapPagination::Rails  %>
<ul class="users">
	<div id="user-list">
  		<%= render @users %>
  	</div>
</ul>
<%= will_paginate @users, renderer: BootstrapPagination::Rails  %>
</div>