<% provide(:title, 'All users') %>
<div class="heading-block">
	
	<h1 class="elegant">Manage Users</h1>
	
</div>


<div class="container">


<ul class="nav nav-tabs  cus-tabs" id="user-nav">
	<li role="presentation" class="active">
		<%= link_to  users_path(:filter => ""), method: :get, remote: true, id:"all-users-btn" do %>
		All (<%= User.all.count %>)
		<% end %>
	</li>
	<li role="presentation">
		<%= link_to  users_path(:filter => "enterprise"), method: :get, remote: true, id:"enterprise-users-btn" do %>
		Enterprise (<%= User.enterprise_users.count %>)
		<% end %>
	</li>
	<li role="presentation">
		<%= link_to  users_path(:filter => "client"), method: :get, remote:true, id:"client-users-btn" do %>
		Client (<%= User.client_users.count %>)
	<% end %>
	<li role="presentation">
		<%= link_to  users_path(:filter => "admin"), remote: true, id:"admin-users-btn" do %>
		Admin (<%= User.admin_users.count %>)
		<% end %>
	</li>
	<li role="presentation">
		<%= link_to users_path(:filter => "pending"), remote: true, id:"pending-users-btn" do %>
		Pending (<%= User.pending_users.count %>)
		<% end %>
	</li>

</ul>

<div id="user-table-div">
	<%= render partial:'users/users_table', locals:{:users=>@users, :filter=>@filter} %>
</div>

</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
