<div class=" form-all container-fluid col-md-4 col-md-offset-4">
  
<%= form_for(@event) do |h| %>
  <%= render 'shared/error_messages', object: h.object %>
  <div class="field ">
    <%= h.label :name, "Event Name" %>
    <%= h.text_field :name, class: "form-field" %>

   
    <div class="row">

    <div class="col-md-6">
      <%= h.label :date %>
      <div class="input-group date" id="datetimepicker5">
        <%= h.text_field :date, class: 'form-control form-field', data: { date_format: 'YYYY/MM/DD' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
    <div class="col-md-6">
      <%= h.label :time %>
      <div class="input-group date" id="datetimepicker4">
        <%= h.text_field :time, class: 'form-control form-field' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
      </div>
    </div>

    </div>
</br>
    <%= h.label :event_type %>
    <%= h.text_field :event_type, class: "form-field" %>

    <%= h.label :budget %>
    <%= h.text_field :budget, class: "form-field" %>

    <%= h.label :bride_name %>
    <%= h.text_field :bride_name, class: "form-field" %>

    <%= h.label :groom_name %>
     <%= h.text_field :groom_name, class: "form-field" %>


        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    pickDate: false

                });
            });
        </script>

   
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker5').datetimepicker({
          minDate: '0d',
          // startDate: '-2d',
          // endDate: '+2d',
          pickTime: false

        });

        // var curDate = Date.current.strftime('%M %d %Y');
        // $('#datetimepicker5').data("DateTimePicker").setMinDate('0d');
      });
    </script>


  </div>
  <%= h.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

</div>