<div class=" form-all">
  
<%= form_for @event,:method => :post, :html=>{:id=>"event-form"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field ">
    <h3 class="center">We need some basic information to get you started</h3>
  

  <div class="row">
    <div id="event-form-type-div">
      <div class="form-block col-md-6 col-md-offset-3">
          <h3 class="center">What kind of event is it?</h3>
        <br><%= render partial:'events/event_form_type', locals: {:f => f} %>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div id="event-form-name-div">
      <div class="form-block col-md-6 col-md-offset-3">
        <h3 class="center">How do you want to call your event?</h3>
        <br><%= render partial:'events/event_form_name', locals: {:f => f} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="event-form-couple-div">
      <div class="form-block col-md-6 col-md-offset-3">
        <h3 class="center">Who are those lucky people?</h3>
        <br><%= render partial:'events/event_form_couple', locals: {:f => f} %>
      </div>
    </div>
  </div>
    
  <div class="row">
    
    <div id="event-form-datetime-div">
      <div class="form-block col-md-6 col-md-offset-3">
        <h3 class="center">When is the event?</h3>
        <p class="center">(Leave blank if you are not sure yet)</p>
        <br><%= render partial:'events/event_form_datetime', locals: {:f => f} %>
      </div>
    </div>
  </div>

   
  <div class="row">
    <div id="event-form-budget-div">
      <div class="form-block col-md-6 col-md-offset-3">
        <h3 class="center">Do you have a budget?</h3>
        <p class="center">(An approximation is enough)</p>
        <br><%= render partial:'events/event_form_budget', locals: {:f => f} %>
      </div>
    </div>
  </div>


  <div class="row">
    <div id="event-form-guest-div">
      <div class="form-block col-md-6 col-md-offset-3">
        <h3 class="center">How many guests are you planning to invite?</h3>
        <br><%= render partial:'events/event_form_guest', locals: {:f => f} %>
      </div>
    </div>
  </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    pickDate: false

                });
            });
        </script>

   
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker5').datetimepicker({
          minDate: '0d',
          // startDate: '-2d',
          // endDate: '+2d',
          pickTime: false

        });

        // var curDate = Date.current.strftime('%M %d %Y');
        // $('#datetimepicker5').data("DateTimePicker").setMinDate('0d');
      });
    </script>


  </div>
  
<% end %>

</div>