<div class=" form-all container col-md-4 col-md-offset-4">
<%= form_for @shop, :method => :post, :html=>{:id=>"shop-form"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field ">
  <div id="shop-form-basic-div">
    <h3>1. Basic Information</h3>
    <hr>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-field",  placeholder:"Shop Name" %>


      <%= f.label :description %>
      <%= f.text_area :description, class: "form-field",  placeholder:"Some description for your shop.." %>

      <%= f.label :details, "Packages" %>
      <%= f.text_area :details, class: "form-field",  placeholder:"E.g. Photo Book + On Event photography", rows: 5 %>

      <%= button_to "Next >", '#', id: "shop-next-btn1", class: "all-btn btn pull-right", remote:true %>

  </div>

  <div id="shop-form-contact-div">
    <%= render partial: 'shops/shop_form_contact', locals: { f: f }%>
  </div>

  <div id="shop-form-tags-div">
    <%= render partial: 'shops/shop_form_tags', locals: { f: f }%>
  </div>

  

</div>
  
<% end %>


</div>

