<div class=" form-all container col-md-4 col-md-offset-4">
<%= form_for @shop, :method => :post, :html=>{:id=>"shop-form"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field ">

  <div id="shop-form-attachment-div">
    <h4 class="center">To create a Shop, please upload</h4>
      <h4 class="center"> the proof of your shop existence.</h4> <br>
      <p class="no-text center">(Your shop page will be available for public as soon as it has been approved.)</p>
    <hr>
      <%= f.label :attachment %> <span class="small">(Only .jpeg, .jpg, .png, .bmp, .pdf file formats allowed)</span>
      <%= f.file_field :attachment, required: true %>

      <%= button_to "Next >", '#', id: "shop-next-btn-p", class: "all-btn btn pull-right", remote:true %>
  </div>
  <div id="shop-form-basic-div">
    
    <%= render partial: 'shops/shop_form_basic', locals: { f: f }%>

  </div>

  <div id="shop-form-contact-div">
    <%= render partial: 'shops/shop_form_contact', locals: { f: f }%>
  </div>

  <div id="shop-form-tags-div">
    <%= render partial: 'shops/shop_form_tags', locals: { f: f }%>
  </div>

  

</div>
  
<% end %>


</div>

