<% unless !@event.date.nil? %>
<%= form_for @event,:method => :patch, remote:true, :html=>{:id=>"event-datetime-form"} do |f| %>
	<div class="field ">
		<div class="hidden">
			<%= render partial:'events/event_form_type', locals: {:f => f} %>
			<%= render partial:'events/event_form_name', locals: {:f => f} %>
			<%= render partial:'events/event_form_couple', locals: {:f => f} %>
			<%= render partial:'events/event_form_budget', locals: {:f => f} %>
		</div>
		<div class="row">
			<div class="panel col-md-6 col-md-offset-3">
				<h3 class="center">You haven't chosen the date for the event yet.</h3>
				<div class="panel-body">
					<p>The earlier you decided on a date, the earlier you can book your vendors</p>
					<div class="row">
						<div class="col-md-6">
						    <%= f.label :date %>
						    <div class="input-group date" id="datetimepicker5">
						      <%= f.text_field :date, class: 'form-control form-field', required:true, data: { date_format: 'YYYY/MM/DD' }%>
						      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						    </div>
					  	</div>
					  	<div class="col-md-6">
					    	<%= f.label :time %>
						    <div class="input-group date" id="datetimepicker4">
						      <%= f.text_field :time, class: 'form-control form-field',required:true %>
						      <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
						    </div>
					  	</div>
					  	
					</div>
					<br><i>Need help on choosing a date? Click Here</i>
				
					<div class="pull-right">
					<%= f.submit "Done", class: "btn", id:"event-datetime-submit-btn", name:"mysubmit", remote:true %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% end %>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    pickDate: false

                });
            });
        </script>

   
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker5').datetimepicker({
          minDate: '0d',
          // startDate: '-2d',
          // endDate: '+2d',
          pickTime: false

        });

        // var curDate = Date.current.strftime('%M %d %Y');
        // $('#datetimepicker5').data("DateTimePicker").setMinDate('0d');
      });
    </script>