Current Total : <%= @total.to_i %>
Budget : <%= @event.budget.to_i %>
<p><%= link_to "New Expense", new_event_expense_path(@event) %>

<div class="col-md-6">
	<div id="expense-chart">
		<%= pie_chart @expense_chart, library: {backgroundColor: "transparent"} %>
	</div>

</div>
<div class="col-md-6">
	<%= bar_chart @ex, library: {backgroundColor: "transparent"}  %>
	<p>	
	
</div>

<%= yield :charts_js %> 