<div class="container">
<% provide(:title, @event.name) %>


<h2><%= @event.name %></h2>



<div id="calendar"></div>
<script type="text/javascript"> 
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        dayClick: function(date, jsEvent, view) {

        alert('Clicked on: ' + date.format());

        alert('Current view: ' + view.name);

        // change the day's background color just for fun
        $(this).css('background-color', 'gray');

    }
    })

});
</script>




<p>Date: <%= @event.date.strftime("%A %B %d %Y  ||  %m/%d/%Y  || %H:%M")%>
<p>Time: <%= @event.time.strftime('%H:%M') %>
<p><%= @event.time.to_time%>

	<p> Days Til : 
    Current Total : <%= @total %>



<h3>MY Expenses</h3>
<p><%= link_to "New Expense", new_event_expense_path(@event) %>
<%= render @expenses %>

<h2><%= link_to "MY Tasks", event_tasks_path(@event) %></h2>



<b><%= link_to "default task", event_default_tasks_path(@event), method: :post %>

<p><%= link_to "New Task", new_event_task_path(@event) %>

<h2>Task by schedule</h2>
<%= link_to 'ALL', my_tasks_path(:event_id => @event.id, :filter => ""), method: :get, remote: true %>
<%= link_to 'this week', my_tasks_path(:event_id => @event.id, :filter => "week"), method: :get, remote: true %>
<%= link_to 'this month', my_tasks_path(:event_id => @event.id, :filter => "month"), method: :get, remote: true %>
<div id="my-task">
<%= render @tasks %>
</div>
<h2>Now</h2>
<%= render @now %>
<h2>Completed</h2>
<%= render @completed %>

</div>