<% provide(:title, @event.name) %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= render 'events/heading' %>
<div class="container">
	<div class="row">
		<%= render 'events/event_menu' %>
	</div>	
	<div class="row center">
		<div id="event-date-div" class="col-md-8 col-md-offset-2">
			<% if @event.date.nil? %>
				<%= render partial: 'events/datetime_form', locals:{:event=> @event } %>	
			<% else %>
				<% if Date.today <= @event.date %>
				<div>
					<h2>Counting to the event...</h2>
					<%= render partial: 'events/countdown', locals:{:event=> @event } %> 
				</div>
					<div>
						<!-- <h3>til the Event!</h3> -->
					</div>
				<% else %>
					<%= render 'events/lift_off' %>
				<% end %>
			<% end %>

		</div>
	</div>

	<div class="row center">
		<h2>Summary</h2>
		<div class="col-md-4 col-md-offset-4 no-text">

			<%= link_to event_tasks_path(@event) do %>
			<div><%= pluralize(@lates.count, 'Late Task', 'Late Tasks') %> </div>
			<div><%= pluralize(@today.count, 'Task', 'Tasks')  %> Today</div>
			<%end%>
			<hr>
			<%= link_to event_expenses_path(@event) do %>
			<div><%= @ex_percentage %>% of Budget Used</div>
			<%end%>
			<hr>
			<%= link_to event_guests_path(@event) do %>
			<div><%= @guests.inviteds.count %> out of <%= @guests.count %> Invitations Sent</div>
			<div><%= @guests.attendees.count %> out of <%= @guests.count %> Guests Attending</div>
			<div><%= @guests.respondeds.count %> out of <%= @guests.count %> Guests Responded via Link</div>
			<%end%>
			<hr>
			<%= link_to event_checklists_path(@event) do %>
			<div><%= @progress%>% of the Checklist done</div>
			<%end%>
		</div>
	</div>


			

	

	



</div>