<% provide(:title, @event.name) %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= render 'events/heading' %>
<div class="container">
	<div class="row">
		<%= render 'events/event_menu' %>
	</div>	
	<%= link_to "Edit event", edit_event_path(@event) %>

	<div class="row center">
		<div id="event-date-div" class="col-md-8 col-md-offset-2">
			<% if @event.date.nil? %>
				<%= render partial: 'events/datetime_form', locals:{:event=> @event } %>	
			<% else %>
				<% if Date.today <= @event.date %>
				<div>
					<%= render partial: 'events/countdown', locals:{:event=> @event } %> 
				</div>
					<div>
						<!-- <h3>til the Event!</h3> -->
					</div>
				<% else %>
					<%= render 'events/lift_off' %>
				<% end %>
			<% end %>

		</div>
	</div>

	<div class="row center">
		<div class="col-md-6 col-md-offset-3">

			<h2>Summary</h2>
			<h4><%= pluralize(@lates.count, 'Late Task', 'Late Tasks') %> </h4>
			<h4><%= pluralize(@today.count, 'Task', 'Tasks')  %> Today</h4>
			<hr>
			<h4><%= @ex_percentage %>% of Budget Used</h4>
			<hr>
			<h4><%= @guests.inviteds.count %> out of <%= @guests.count %>Invitations Sent</h4>
			<h4><%= @guests.attendees.count %> out of <%= @guests.count %>Guests Attending</h4>
			<hr>
			<h4><%= @progress%>% of the Checklist done</h4>
			<h4><%= %></h4>
			<h4><%= %></h4>
		</div>
	</div>


			

	

	



</div>