<% provide(:title, @event.name) %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= render 'events/heading' %>
<div class="container">
	<div class="row">
		<%= render 'events/event_menu' %>
	</div>	
	<div class="row center">
		<div id="event-date-div" class="col-md-8 col-md-offset-2">
			<% if @event.date.nil? %>
				<%= render partial: 'events/datetime_form', locals:{:event=> @event } %>	
			<% else %>
				<% if Date.today <= @event.date %>
				<div>
					<h2>Counting to the event...</h2>
					<%= render partial: 'events/countdown', locals:{:event=> @event } %> 
				</div>
					<div>
						<!-- <h3>til the Event!</h3> -->
					</div>
				<% else %>
					<%= render 'events/lift_off' %>
				<% end %>
			<% end %>

		</div>
	</div>

	<div class="row center">
		<h2>Summary</h2>
		<div class="col-md-4 col-md-offset-4 no-text">

			<%= link_to event_tasks_path(@event) do %>
			<div><%= pluralize(@lates.count, 'Late Task', 'Late Tasks') %> </div>
			<div><%= pluralize(@today.count, 'Task', 'Tasks')  %> Today</div>
			<%end%>
			<hr>
			<%= link_to event_expenses_path(@event) do %>
			<div><%= @ex_percentage %>% of Budget Used</div>
			<%end%>
			<hr>
			<%= link_to event_guests_path(@event) do %>
			<div><%= @guests.inviteds.count %> out of <%= @guests.count %> Invitations Sent</div>
			<div><%= @guests.attendees.count %> out of <%= @guests.count %> Guests Attending</div>
			<div><%= @guests.respondeds.count %> out of <%= @guests.count %> Guests Responded via Link</div>
			<%end%>
			<hr>
			<%= link_to event_checklists_path(@event) do %>
			<div><%= @progress%>% of the Checklist done</div>
			<%end%>
			<hr>
			<% if @event.collaborations.any? %>
			Event Owner: <br>
			<%= link_to @event.user do %>
	                <%= @event.user.firstname %> <%= @event.user.lastname %> <br>
	              <%end%>
	              <hr>
			Collaborators: <br>
				<% @event.collaborations.each do |u| %>
	              <%= link_to u.user do %>
	                <%= u.user.firstname %> <%= u.user.lastname %>  <%= link_to image_tag("remove_icon_grey.png",  :border => 0, :width=> 15, :height=>15, :alt => "remove icon"), Collaboration.where(:event_id=>@event.id, :user_id=>u.user.id).first, :data => {:toggle=>"tooltip", :placement=>"bottom",confirm: "You sure?"}, :title=>"remove collaborator", method: :delete,class: "inline-block" %> <br>
	              <%end%>
	            <%end %>
          	<%end%>

			
		</div>
	</div>




</div>


	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>