<% provide(:title, @event.name) %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= render 'events/heading' %>
<div class="container">
	<div class="row">
		<%= render 'events/event_menu' %>
	</div>	
	<%= link_to "Edit event", edit_event_path(@event) %>

	<div class="row">
		<div id="event-date-div" class="col-md-7">
			<% if @event.date.nil? %>
				<%= render partial: 'events/datetime_form', locals:{:event=> @event } %>	
			<% else %>
				<% if Date.today <= @event.date %>
				<div>
					<%= render partial: 'events/countdown', locals:{:event=> @event } %> 
				</div>
					<div>
						<h3>til the Event!</h3>
					</div>
				<% else %>
					<%= render 'events/lift_off' %>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-5 panel">
				<h4><%= @guests.count %> total Guest</h4>
				<h4><%= @guests.inviteds.count %> Guests invited</h4>
				<h4><%= @guests.attendees.count %> Guests joining</h4>

			      <a data-toggle="collapse"  href="#guest-form" aria-expanded="true" aria-controls="guest-form">
			              <h4 class="center">sdf <b class="caret"></b></h4>
			      </a>
			      <div id="guest-form" class="collapse ">
			         sdfs
			      </div>
			    
  
			
		</div>
	</div>

	<div class="row">

		
		<div class="col-md-6">
			<div class="progress">
			  <div class="progress-bar progress-bar-striped  progress-bar-warning active" role="progressbar" aria-valuenow=<%= @progress %> aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>%;">
			    <%= @checklists.done.count %> / <%= @checklists.count %>
			  </div>
			</div>
			<h3>Budget Usage</h3>
			<%= pie_chart @expense_chart, library: {backgroundColor: "transparent"} %>
		</div>
	</div>


	

	



</div>