<ul class="list-unstyled">
	<% if vendor.shop.nil? %>
		<li><b><%= vendor.name %></b></li>
	<% else %>
		<%= link_to shop_path(vendor.shop) do %>
			<li><b><%= vendor.name %></b></li>
		<% end %>
	<% end %>
		<li><%= image_tag("contact_icon.png", :width=> 10, :height=> 10, :border => 0, :alt => "contact icon") %> <% if vendor.contact!="" %><%= vendor.contact %><%else%> n/a <%end%></li>
		<li><%= image_tag("phone_icon.png", :width=> 10, :height=> 10, :border => 0, :alt => "phone icon") %> <% if vendor.phone!="" %><%= vendor.phone %><%else%> n/a <%end%></li>
		<li><%= image_tag("email_icon.png", :width=> 10, :height=> 10, :border => 0, :alt => "email icon") %> <% if vendor.email!="" %><%= vendor.email %><%else%> n/a <%end%></li>
		<li><%= image_tag("location_icon.png", :width=> 10, :height=> 10, :border => 0, :alt => "location icon") %> <% if vendor.address!="" %><%= vendor.address %><%else%> n/a <%end%></li>
</ul>
