<div class="container">
  <h2>Edit vendor</h2>

<div class=" form-all col-md-4 col-md-offset-4">

<%= form_for(@vendor) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-field" %>

    <%= f.label :contact %>
    <%= f.text_field :contact, class: "form-field" %>


    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-field" %>


    <%= f.label :address %>
    <%= f.text_field :address, class: "form-field" %>

    <%= f.label :email %>
    <%= f.text_field :email, class: "form-field" %>

    <%= f.label :note %>
    <%= f.text_area :note, class: "form-field" %>

  </div></br>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>



</div>

</div>
