
<div class="container ">
	<div class="row">
		<div class="user-form-container col-md-3 col-md-offset-5">
		<h2>Log in</h2>
		<div class=" user-form form-all">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="field">
					<%= f.label :email, "E-mail address" %>
				  	<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-field" %>
					<%= f.label :password %>
				  	<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-field" %>

					<div class="checkbox ">	
						<span class="pull-left"><%= f.check_box :remember_me %> 
							
						</span>
						<span class="pull-right">
						<%= f.label :remember_me %>
							
						</span>
					</div>
					  	<%= f.submit "Log in", class: "btn btn-default user-submit-btn" %> or
					  	<%= link_to "Sign up!", new_registration_path(resource_name) %> 
					  	
				</div>	
			<% end %>
			<br>
	  		<%= link_to "Forgot your password?", new_password_path(resource_name), class:"small pull-right" %>
		</div>
	</div>
	</div>
	
</div>
