<ul class="row" id="photos-list">
  <% @photos.each do |photo| %>
  	<%= link_to '#photo-'+ photo.id.to_s, :data => {:toggle=>"modal"}, :class=>"btn" do %>
	    <li class="col-xs-2">
	      <%= image_tag(photo.image.thumb('180x180#').url, alt: photo.title, class: ' gallery-thumb') %>
	      
		
	    </li>
    <%end%>


    <div class="modal fade" id="photo-<%= photo.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title center" id="myModalLabel"><%=photo.title%></h3>
      </div>
      <div class="modal-body center">
        <%= link_to image_tag(photo.image.thumb('x800').url, alt: photo.title, class: 'img-thumbnail'),
                  photo.image.url, target: '_blank' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <% end %>
</ul>

 <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
  