<h1>New photo</h1>
 
<%= form_for [@shop, @photo] do |f| %>
	<%= render 'shared/error_messages', object: @photo %>
 
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, required: true %>
  </div>
 
  <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>
<% end %>