<div class="<%= 'completed-checklist' if checklist.completed==true%><%= 'uncompleted-checklist' if checklist.completed==false%>">
	<%= checklist.title %>
	
	<% if checklist.completed == false%>
		<%= link_to image_tag("done_icon_grey.png",  :border => 0, :width=> 15, :height=>15, :alt => "done icon"), event_checklist_complete_path(@event, checklist), method: :put, :data => {:toggle=>"tooltip", :placement=>"bottom"}, :title=>"completed!"%>
	<%else%>
		<%= link_to  image_tag("undo_icon_grey.png",  :width=> 15, :height=>15, :border => 0, :alt => "undo icon"), event_checklist_decomplete_path(@event, checklist), method: :put, :data => {:toggle=>"tooltip", :placement=>"bottom"}, :title=>"uncomplete"  %>
	<%end%>
	<%= link_to image_tag("add_task_icon_grey.png",  :width=> 13, :height=>13, :border => 0, :alt => "add checklist icon"), new_event_checklist_path(@event, :checklist_id=>checklist.id), :data => {:toggle=>"tooltip", :placement=>"bottom"}, :title=>"add to task"%>
	<%= link_to image_tag("edit_icon_grey.png",  :width=> 13, :height=>13, :border => 0, :alt => "edit checklist icon"), edit_event_checklist_path(@event,  checklist), :data => {:toggle=>"tooltip", :placement=>"bottom"}, :title=>"edit checklist"%>

	<%= link_to image_tag("delete_icon_grey.png",  :width=> 13, :height=>13, :border => 0, :alt => "delete checklist icon"), event_checklist_path(@event, checklist), :data => {:toggle=>"tooltip", :placement=>"bottom",confirm: "You sure?"}, :title=>"delete checklist", method: :delete %>

</div>
	