<%= form_for([@event, @expense]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.label :expense_type %>
    <%= f.select :expense_type, [['Food', 'Food'], ['Venue', 'Venue'], ['Music', 'Music'], ['Ring', 'Ring'], ['Attire', 'Attire'], ['Photography', 'Photography'], ['Decoration', 'Decoration'], ['Card', 'Card'], ['Others', 'Others'] ] %>

    <%= f.label :title %>
    <%= f.text_field :title, placeholder:"E.g. Hotel Ballroom, Wedding Dress.."  %>

    
    <%= f.label :amount %> <span class="small">(No comma)</span>
    <%= f.number_field :amount, placeholder:"E.g. 1000, 25000.."  %>

    <%= f.label :receiver %>
    <%= f.text_field :receiver, placeholder:"E.g. Mr.Joe, Miss Lucy.."  %>

    <%= f.label :paid %>
    <%= f.select :paid, [['Paid', true], ['Unpaid', false]] %>
  </div>
  <%= f.submit "Submit", class: "btn all-btn btn-large" %>
<% end %>

