<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= render 'events/heading' %>
<div class="container">
	<div class="row">
		<%= render 'events/event_menu' %>
	</div>
	<div class="row">
		<div class="col-md-9">
			<h3>Expenses Balance</h3><br>
			<div id="expense-table-div">
				<%= render 'expenses/expense_table' %>
			</div>
		</div>
		<div class="col-md-3">
			<h3>New Expense</h3><br>
			<div id ="expense-form-div" class="user-block form-all">
			
				<%= render 'expenses/expense_form' %>
			</div>
		</div>
		
	</div>
	
	<div class="row">
		<div class="transparent">x</div>
		<div class="col-md-6">
			<h3>Budget Usage</h3>
			<%= pie_chart @expense_chart, library: {backgroundColor: "transparent"} %>
		</div>
		<div class="col-md-6">
			<h3>Expense by Types</h3>
			<%= bar_chart @ex, library: {backgroundColor: "transparent"}  %>
		</div>
	</div>
</div>






</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>